.footerul{
    padding: 0px;
    list-style-type: none;
    text-align: start;
    color: white;
    font-family: poppins;
    line-height: 2;
    
    
}

.footerul li a{
    color: rgb(154, 217, 83);
    text-decoration: none;
}